@if (movie$ | async; as movie) {
  <ion-header>
    <ion-toolbar [style.--background]="mainColor" [style.--color]="textColor">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ movie.title ?? movie.original_name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [style.--background]="mainColor" [style.--color]="textColor">
    <div class="img-gradient">
      @if (movie.background) {
        <img [src]="movie.background" class="background" />
      }
    </div>
    @if (movie.imageUrl) {
      <img [src]="movie.imageUrl" class="movie-img" />
    }
    <div class="header">
      <p class="title">
        {{ movie.title ?? movie.original_name }}
        <span class="release">({{ movie.release_date || movie.first_air_date | date : "y" }})</span>
      </p>
    </div>
    <div class="info">
      <div>{{ movie.release_date || movie.first_air_date | date : "LLL dd, y" }} - {{ movie.runtime | duration }}</div>
      @for (genre of movie.genres; track genre; let isLast = $last) {
        <span>
          {{ genre.name }}@if (!isLast) {
          <span>,</span>
        }
      </span>
    }
  </div>
  <div class="overview">
    <p>
      <em>{{ movie.tagline }}</em>
    </p>
    <h2>Overview</h2>
    {{ movie.overview }}
  </div>
  <h2 class="ion-padding-start">Top Billed Cast</h2>
  <swiper [config]="opts">
    @for (cast of cast$ | async; track cast) {
      <ng-template swiperSlide>
        <app-cast [actor]="cast"></app-cast>
      </ng-template>
    }
  </swiper>
</ion-content>
}
