ion-card-content {
  padding: 0px;
}

.entry {
  margin-bottom: 10px;
  margin-top: 10px;

  font-size: 15px;
}

.year {
  font-weight: 400;
  padding-left: 10px;
}

.title {
  font-weight: 700;
}

.divider {
  background: #ababab;
  height: 1px;
}
