img {
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.parent {
  position: relative;
}

.title {
  font-weight: 700;
  display: block;
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

.release {
  font-weight: 200;
  display: block;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
}

.rating {
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  padding: auto;
  line-height: 40px;
  border-radius: 40px;
  font-size: 13px;
  position: absolute;
  font-weight: 600;
  bottom: 18px;
  left: 5px;
  text-align: center;
}
