<ion-header>
  <ion-toolbar color="primary">
    <ion-title> My Movies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-box">
    <h2>Welcome</h2>
    <ion-searchbar
      placeholder="Search for a movie, tv show, person..."
      (ionChange)="searchChanged($event)"
    ></ion-searchbar>
  </div>

  <div *ngIf="!searchActive">
    <h2 class="ion-padding-start">Trending</h2>
    <swiper [config]="opts">
      <ng-template swiperSlide *ngFor="let movie of trending$ | async">
        <app-movie-preview [movie]="movie"></app-movie-preview>
      </ng-template>
    </swiper>
  </div>

  <div *ngIf="searchActive">
    <ion-row>
      <ion-col
        size="6"
        sizeMd="2"
        *ngFor="let result of searchResults$ | async"
        tappable
        [routerLink]="['/', result.media_type, result.id]"
      >
        <ion-col size="2" class="ion-no-padding">
          <ion-img [src]="result.imageUrl"></ion-img>
        </ion-col>
        <ion-col size="2" class="preview">
          <b>{{ result.title ?? result.name }}</b
          ><br />
          {{ result.overview?.length > 200 ? (result.overview | slice: 0:200) + "..." : result.overview }}
        </ion-col>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
